

.container {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 300px;
    background-color: lightblue;
    padding: 5px;
}


.container ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.element {
    display: table;
    vertical-align: middle;
    height: 100px;
    width: 200px;
    border: 2px ridge green;
    background-color: lightpink;
}

.element span {
    vertical-align: middle;
    display: table-cell;
}