

.container {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 300px;
    background: linear-gradient(to bottom,#f7f8f7,#a87f408f);
    padding: 5px;
}


.container ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.element {
    display: table;
    vertical-align: middle;
    height: 100px;
    width: 200px;
    border: 20px ridge rgb(33, 215, 221);
    background-color: lightpink;
}

.element span {
    vertical-align: middle;
    display: table-cell;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}